@model WebApplication1.Controllers.HomeController.HomeIndexViewModel
@{
    ViewBag.Title = "Sunny's Burndown";
}

<div class="row">
    <div class="col-md-6">
        @Html.TextAreaFor(m => m.Burndown.Definition, new { style = "width:100%; height:100%" })
    </div>
    <div class="col-md-6">
        <ul>
            <li>quick stats go here</li>
            <li>save button goes here</li>
            <li>chooser by id goes here</li>
            <li>details per chosen id goes here</li>
        </ul>
    </div>
</div>