@model WebApplication1.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Model.NewBurndownUrl">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Burndowns)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Burndown", new {id = (Guid?) item.BurndownId})
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Upload","Upload","Home")
</p>

<h2>TODO</h2> 

<p><b>Private users</b></p>
<ul>
<li>Move ALL the things right now to only-private users
<li> save burndown as private under a logged in user
<li> only see your own burndowns (initially)
</ul>

<p>Anonymous users</p>
<ul>
<li> Anonymous users are allowed to save burndowns to the anonymous user id 
<li> However, for a list, they see the stuff from a cookie of visited burndowns
<li> Once logged in, same list is still visible -- but user can "copy to own version"
</ul>

<p>Better Editing</p> 
<ul>
<li> bring in some kind of better editor .. i'm thinking ACE.io ... python mode, syntax highlighting, soft tabs, etc
</ul>

<p>Better Reporting</p> 
<ul>
<li> Either via the editor currently selected line, or something, have a way to choose a task 
<li> have a way to get the history of that task .. how it has changed over time, and the burndown graph associated with
<li> make this an async call, no postback. 
</ul>

<p>Better experience</p>
<ul> 
<li>Change the editor save experience to be async. 
</ul>

<p>More features</p>
<ul>
<li>Do something with @@projects and #hashtags that the task library supports. 
<li>Probably tag onto the reporting thing -- if a project or hashtag is chosen, shows the list of those still active + a burndown of them
<li>Upload existing .todo and .todo.history to new;   download as .todo and .todo.history
</ul>

<p>Group stuff </p>
<ul>
<li>Research if there's any multiple-users-editing-text things out there? 
</ul>
